extends ../node_modules/theme-origami/layout.jade

block nav
  div(data-ng-controller="NavLinksController")
    div(data-ng-include="", src="'/partials/nav.nghtml'")
  
block content
  #main
    div(data-ng-include="", src="'/partials/sidenav.nghtml'").sidenav-container
    .container-fluid.main-container
      .row-fluid
        div(data-ng-view="").span12

block prepend scripts
  script(async
         src="//js.balancedpayments.com/v1/balanced.min.js"
         onload="balanced.init('#{balanced}')")
  script(src="//d3dy5gmtp8yhk7.cloudfront.net/2.1.1/sockjs.min.js")
  script(src="//d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js")