
html
body
.content
  relative top
  height 100%

_shift_amount = 200px

.sidenav
  fixed top
  bottom 0
  width _shift_amount
  z-index $zindex-sidenav
  overflow auto
  transition opacity 0s $transition-speed-fast
  &.sidenav-primary
    left 0
  &.sidenav-secondary
    right 0
  ul
    display block
    height 100%
    overflow-y scroll
    padding 10px
    li
      font-family $headings-font-family
      font-weight $headings-font-weight
      text-transform uppercase
      list-style none
      a
        text-decoration none
        display block
        padding 10px

@media $media-min-tablet
  .content
    background purple!important
    padding-right _shift_amount
    margin-left _shift_amount
    box-sizing border-box

  .sidenav
    opacity 1
    z-index 99999
    width inherit
    &.sidenav-primary
      top $navbar-height
    &.sidenav-secondary ul li
      display inline-block

  menu.topmenu label
    display none

.handler
  display none
  _handler(name, shift)
    &#handler-{name}:checked
      ~ .sidenav-{name}
        opacity 1
        transition opacity 0s 0s
      ~ main
        transform translate3D(shift, 0, 0)
        .content
          overflow hidden

  _handler(nav_lt,  (_shift_amount))
  _handler(nav_rt, -(_shift_amount))

.brand
  text-align center
  .company
    background-size contain
    height $navbar-height

.promo-image
  overflow hidden

_border = 1px solid #ccc

menu.topmenu
  _pad = 10px
  _icon-size = $navbar-height - (_pad * 2)
  fixed top
  flex 1
  flex-direction row
  justify-content space-between
  height $navbar-height
  width 100%
  display flex
  margin 0
  padding 0 0 (_pad / 2) 0
  box-sizing content-box
  border-bottom _border
  background $body-bg
  z-index $zindex-navbar
  label
    height $navbar-height
    width $navbar-height
    padding _pad
    margin 0
    text-align center
    cursor pointer
    color $navbar-default-brand-color
    i
      font-size _icon-size
    &:hover
      color $navbar-default-brand-hover-color

main
  position relative
  height 100%
  transform translate3D(0%, 0, 0)
  transition transform $transition-speed-fast ease-in-out
  z-index $zindex-main
  border-left _border
  border-right _border
  .content
    absolute top 40px
    left 0
    right 0
    bottom 0
    overflow-y scroll
    overflow-scrolling touch
    background $body-bg

