.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  background: #BAACAC;
}

.btn.btn-action {
  background: #E01533;
  color: white;
}

.btn.pull-right {
  float: right;
}