.row-fluid .span4.item
  margin-left: 0

.items
  .item
    padding: 20px

    .thumbnail
      border: 1px solid #eee
      border-radius: 0px

    &:hover
      border: 1px solid #ccc

    .image
      border-bottom: #eee 1px solid
      background-size: contain
      background-repeat: no-repeat
      background-position: center

    .item-info
      margin-top: 10px

      .time-remaining
        text-align: center
        font-size: 1.2em
        margin-top: 8px

      .btn
        margin-top: 4px

      .price
        p
          margin: 0

        .sale-price
          font-size: 1.1em

        .no-sale,
        .retail-price
          font-size: .9em
          color: #CCCCCC

        .retail-price
          text-decoration: line-through

@media $media-min-lg-desktop
  .items .item .image
    height: 257px

@media $media-desktop
  .items .item .image
    height: 199px

@media $media-tablet
  .items .item
    padding: 5px

  .image
    height: 169px

  .item-info
    .time-remaining
      font-size: 1em

  .btn
    font-size: .8em

  .price
    .sale-price
      font-size: .9em

    .no-sale
    .retail-price
      font-size: .8em

@media $media-max-phone
  .items .item
    padding: 0

    .image
      height: 300px

    .item-info .time-remaining
      font-size: 2.2em
      position: relative
      top: -4px

  .thumbnail [class*="span"]
    display: inline-block

    .span3
      width: 23.404255319148934%

    .span6
      width: 48.93617021276595%

