.row-fluid .span4.item
  margin-left: 0

.items
  .item
    padding: 20px

    .thumbnail
      border: 1px solid #eee
      border-radius: 0px

    &:hover
      border: 1px solid #ccc

    .image
      border-bottom: #eee 1px solid
      background-size: contain
      background-repeat: no-repeat
      background-position: center

    .item-info
      margin-top: 10px

      .time-remaining
        text-align: center
        font-size: 1.2em
        margin-top: 8px

      .btn
        margin-top: 4px

      .price
        p
          margin: 0

        .sale-price
          font-size: 1.1em

        .no-sale,
        .retail-price
          font-size: .9em
          color: #CCCCCC

        .retail-price
          text-decoration: line-through

@media $media_large
  .items .item .image
    height: 257px

@media $media_medium
  .items .item .image
    height: 199px

@media $media_small
  .items .item
    padding: 5px

  .items .item .image
    height: 169px

  .items .item .item-info .time-remaining
    font-size: 1em

  .items .item .item-info .btn
    font-size: .8em

  .items .item .item-info .price .sale-price
    font-size: .9em

  .items .item .item-info .price .no-sale,
  .items .item .item-info .price .retail-price
    font-size: .8em

@media $media_tiny
  .items .item
    padding: 0

  .items .item .image
    height: 300px

  .thumbnail [class*="span"]
    display: inline-block

  .thumbnail .span3
    width: 23.404255319148934%

  .thumbnail .span6
    width: 48.93617021276595%

  .items .item .item-info .time-remaining
    font-size: 2.2em
    position: relative
    top: -4px

