.checkout
  position: relative

.checkout .steps-container
  overflow: hidden
  padding-bottom: 10px
  border-bottom: 1px solid #EEEEEE

.checkout .steps
  letter-spacing: .2em
  padding-left: 50%
  margin-left: -70px
  width: 100%
  list-style: none
  position: relative
  transition: all 0.4s ease-in-out
  user-select: none

.checkout .steps .step
  float: left
  width: 150px
  text-align: center
  font-size: 1.2em
  color: #CCCCCC
  text-decoration: none
  transition: color 0.4s ease-in-out

.checkout.shipping .steps .step.shipping
  color: #E13C32

.checkout.billing .steps .step.billing
  color: #E13C32

.checkout.confirmation .steps .step.confirmation
  color: #E13C32

@media (min-width: 768px)
  .checkout.shipping .steps
    transform: translate(0, 0)

  .checkout.billing .steps
    transform: translate(-150px, 0)

  .checkout.confirmation .steps
    transform: translate(-300px, 0)

.checkout .forms-container
  overflow: hidden

.checkout .forms
  position: relative
  white-space: nowrap
  transition: all 0.4s ease-in-out

.checkout.shipping .forms
  transform: translate(0, 0)

.checkout.billing .forms
  margin-left: -5px
  transform: translate(-100%, 0)

.checkout.confirmation .forms
  margin-left: -20px
  transform: translate(-200%, 0)

.checkout .forms .form
  display: inline-block
  width: 100%
  padding-top: 20px

  input
    padding: 5px
    display: block
    margin-bottom: 10px
    margin-left: auto
    margin-right: auto
    width: 200px
    text-align: center

