.wrapper > footer
  _pad = 20px
  ul
    float left
    list-style none
    margin 0 0 _pad
    li
      float left
      margin-right _pad * 2
  .footer-brand
    margin 0 _pad 0 0
    text-align right
