// @import 'nib'

// @import 'button.css'
// @import 'category.css'
// @import 'checkout.css'
// @import 'footer.css'
// @import 'header.css'
// @import 'item.css'
// @import 'lazy-load.css'
// @import 'main.css'
// @import 'modal.css'
// @import 'nav.css'
// @import 'secondary-nav.css'
// @import 'time-remaining.css'

body
  background red

// body
//   background linear-gradient(top, orange, white)

