.item-info .title {
  margin-top: 0px;
  margin-bottom: 0px;
}
.item-info .title a {
  color: #333;
}
.item-info .title a:hover {
  text-decoration: none;
  color: #222;
}

.item-info .vendor {
  margin-top: -15px;
  margin-bottom: 30px;
}
.item-info .vendor a:hover {
  text-decoration: none;
  color: #bbb;
}

.item-info .price {
  text-align: left;
}
.item-info .price .sale-price {
  font-size: 1.5em;
  margin-bottom: 0;
}
.item-info .price .retail-price {
  font-size: .9em;
  color: #ccc;
  text-decoration: line-through;
}

.item-info .time-remaining {
  font-size: 1.5em;
  margin-top: 4px;
  text-align: center;
}

.item-info .title,
.item-info .vendor {
  text-transform: uppercase;
  font-weight: initial;
}

.item-info .description {
  margin-bottom: 50px;
}

.thumbnail.active {
  border: 1px solid #ccc;
}

.thumbnail .image {
  width: 100%;
}

.item-stipulations {
  color: #E01533;
}
