.product-listing
  border-bottom 1px solid #ccc

  .title
    font-size $font-size-large
    span
      float right

  .image
    max-width 100%
    height 320px

    background-size cover
    background-position 50%

    @media $media-screen-min-phone
      height 550px

    @media $media-screen-min-tablet
      height 260px

    @media $media-screen-min-desktop
      height 200px

  .price
    padding 10px 0
