
html
body
main .content
  overflow-x hidden


_navbar_pad = 10px
_shift_amount = 200px
_categories_height = $navbar-height
_border = 1px solid #ccc

_wrap(size)
  section.navs
  body > .wrapper
    width size

body > .wrapper
  margin-left auto
  margin-right auto

.sidenav
  fixed top $navbar-height
  transition opacity 0s $transition-speed-fast
  &.sidenav-categories
    left 0
    ul
      padding 0
      margin 0
      text-transform uppercase
  &.sidenav-links
    right 0
  ul
    display block
    padding 10px
    li
      font-family $headings-font-family
      font-weight $headings-font-weight
      list-style none
      float none
      display block
      a
        text-decoration none
        display block
        padding 10px
        &:hover
          color $brand-color

.handler
  display none
  _handler(name, shift)
    &#handler-{name}:checked
      ~ section.navs
          .sidenav-{name}
            opacity 1
            transition opacity 0s 0s
            z-index $zindex-sidenav-bg
      ~ main
        transform translate3D(shift, 0, 0)
        height 100%
        .content
          overflow hidden
          height 100%

  _handler("categories",  (_shift_amount))
  _handler("links", -(_shift_amount))

.brand
  absolute top
  z-index $zindex-brand
  .company
    height $navbar-height
    background-size auto ($navbar-height - _navbar_pad)
    background-position 50%

.promo-image
  overflow hidden

menu.topmenu
  fixed top
  left 0
  height $navbar-height
  width 100%
  // flex-direction row
  // justify-content space-between
  // display flex
  margin 0
  padding 0
  box-sizing content-box
  border-bottom _border
  background $body-bg
  z-index $zindex-navbar

  label
    z-index 10
    &:hover
      ~ i
        color $navbar-default-brand-hover-color

  label
  i
    absolute top
    height $navbar-height
    width $navbar-height
    margin 0
    cursor pointer
    padding _navbar_pad
    color $navbar-default-brand-color
    font-size $navbar-height - (_navbar_pad * 2)
    &.left
      left 0
    &.right
      right 0


section.navs
  fixed top
  transform translate3D(0%, 0, 0)
  z-index $zindex-sidenav-fg

main
  position relative
  height 100%
  transform translate3D(0%, 0, 0)
  transition transform $transition-speed-fast ease-in-out
  z-index $zindex-main
  background $body-bg

  .content
    padding 50px

@media $media-max-phone

  _wrap 100%

  .brand .company
    fixed top (-($navbar-height))
    height $navbar-height
    margin-top $navbar-height
    width 50%
    left 25%

  main .content
    border-left _border
    border-right _border
    padding ($navbar-height + _navbar_pad) _navbar_pad _navbar_pad

  section.navs
    height 100%
    background _bg = #eee
    z-index $zindex-sidenav-bg

    .sidenav
      width _shift_amount
      background _bg
      opacity 0

@media $media-screen-min-tablet

  _wrap $container-tablet

  .brand .company
    background-position _navbar_pad

  menu.topmenu *
    display none

  main .content
    padding-top _categories_height + $navbar-height

  section.navs
    z-index $zindex-sidenav-fg
    .sidenav
      top 0
      opacity 1
      ul
        padding-top 0
        li
          display inline-block
          a
            padding (_navbar_pad * 1.5) _navbar_pad


      &.sidenav-categories
        top $navbar-height + 1
        height $navbar-height
        width 100%
        ul
          width 100%
          display inline-block
          text-align center
          box-shadow 0 10px 27px -17px black
          background white
      &.sidenav-links
        width auto
        height $navbar-height


@media $media-screen-min-lg-desktop
  _wrap $container-desktop

