
html
body
main
  overflow-x hidden


_navbar_pad = 10px
_shift_amount = 200px
_border = 1px solid #ccc
_horizontal_pad = 10%
_horizontal_width = (100% - (_horizontal_pad * 2))

_wrap(size)
  body > .wrapper
    width size

body > .wrapper
  margin-left auto
  margin-right auto

.sidenav
  fixed top
  transition opacity 0s $transition-speed-fast
  &.sidenav-categories
    left 0
    ul
      padding 0
      margin 0
      text-transform uppercase
  &.sidenav-links
    right 0
  ul
    display block
    padding 10px
    li
      font-family $headings-font-family
      font-weight $headings-font-weight
      list-style none
      float none
      display block
      a
        text-decoration none
        display block
        padding 10px
        &:hover
          color $brand-color

.brand
  fixed top
  z-index $zindex-brand

  .company
    absolute top (-($navbar-height))
    margin-top $navbar-height
    height $navbar-height
    background-size auto ($navbar-height - _navbar_pad)
    background-position 50%

.promo-image
  overflow hidden

.brand
.wrapper
.topmenu
  transform translate3D(0%, 0, 0)
  transition transform $transition-speed-fast ease-in-out

menu.topmenu
  fixed top
  left 0
  height $navbar-height
  width 100%
  margin 0
  padding 0
  box-sizing content-box
  border-bottom _border
  background $body-bg
  z-index $zindex-navbar

  i
    z-index -1
  label
    z-index 10
    &:hover
      ~ i
        color $navbar-default-brand-hover-color

  label
  i
    absolute top
    height $navbar-height
    width $navbar-height
    margin 0
    cursor pointer
    padding _navbar_pad
    color $navbar-default-brand-color
    font-size $navbar-height - (_navbar_pad * 2)
    &.left
      left 0
    &.right
      right 0


section.navs
  fixed top
  transform translate3D(0%, 0, 0)
  z-index $zindex-sidenav-fg
  width 100%

.wrapper
  position relative
  height 100%
  background $body-bg
  z-index $zindex-main

.handler
  display none

@media $media-max-phone

  _wrap 100%

  .brand
    height $navbar-height
    width 50%
    left 25%
    .company
      width 100%

  main
    padding ($navbar-height + _navbar_pad) _navbar_pad _navbar_pad

  section.navs
    height 100%
    background _bg = #eee
    z-index $zindex-sidenav-bg

    .sidenav
      width _shift_amount
      background _bg
      opacity 0

  _handler(name, shift)
    #handler-{name}:checked
      ~ section.navs
        .sidenav-{name}
          opacity 1
          transition opacity 0s 0s
          z-index $zindex-sidenav-bg
      ~ .brand
      ~ .topmenu
      ~ .wrapper
        transform translate3D(shift, 0, 0)
        &.wrapper
          box-shadow 0 0 20px rgba(black, .3)

  _handler("categories",  (_shift_amount))
  _handler("links", -(_shift_amount))

@media $media-screen-min-tablet

  _wrap $container-tablet

  .brand
    background-position 0 50%
    left _horizontal_pad

  menu.topmenu
    display none

  main
    padding ($navbar-height * 2) $navbar-height

  section.navs
    z-index $zindex-sidenav-fg
    height ($navbar-height * 2)

    .bg
      relative left _horizontal_pad
      background white
      box-shadow 0 10px 27px -17px black
      height 100%
      width _horizontal_width

    .sidenav
      width _horizontal_width
      left _horizontal_pad
      top 0
      opacity 1
      ul
        padding-top 0
        li
          display inline-block
          a
            padding (_navbar_pad * 1.5) _navbar_pad

      &.sidenav-categories
        top $navbar-height + 1
        height $navbar-height
        ul
          width 100%
          display inline-block
          text-align center

      &.sidenav-links
        height $navbar-height
        text-align right

@media $media-screen-min-lg-desktop
  _wrap $container-desktop

