
#dialog {
  margin-left: -150px !important;
  width: 320px;
}

#dialog .title {
  width: 100%;
  text-align: center;
  display: block;
  color: #E01533;
  font-size: 2em;
}

#dialog .body {
  font-size: 1.25em;
  position: relative;
}

#dialog .body .steps {
  color: #E01533;
}

#dialog .body .steps .step {
  color: #333;
}

#dialog .btn-action {
  width: 100%;
  position: relative;
  left: -5px;
  padding: 5px;
}

#dialog p {
  padding: 5px;
  text-align: center;
}

.overlay {
  position: fixed;
}
