.swipe-container {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}

.swipe {
  margin: 0;
  padding: 0;
  height: 500px;
}

.swipe li {
  display: table-cell;
  vertical-align: top;
  background: #f8f8f8;
  background-size: cover;
  background-position: 50% 0;
  color: #434343;
  width: 500px;
  height: 500px;
  line-height: 200px;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  -webkit-user-select: none;
}