body
  background: white
  overflow-y: scroll

input, body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

a
  text-decoration: none
  color: #777

@media $media-max-phone
  body
    padding-top: 100px

